# Server Configuration
PORT=4000
NODE_ENV=development

# YouTube Data API
YOUTUBE_API_KEY=XXX

# OpenAI API for translation
OPENAI_API_KEY=XXX

# Microsoft MarkItDown credentials
MARKITDOWN_API_KEY=XXX
MARKITDOWN_ENDPOINT=XXX
MARKITDOWN_REGION=XXX

# File paths
UPLOAD_DIR=uploads
OUTPUT_DIR=outputs
TEMP_DIR=temp
FFMPEG_PATH="C:/ffmpeg/bin/ffmpeg.exe"
YT_DLP_BINARY=C:\\Users\\mnusa\\Personal-CS-Projects\\arabic-youtube-transcript-translator\\backend\\node_modules\\yt-dlp-exec\\node_modules\\.bin\\yt-dlp.exe